*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root {
    --dark-green-bg: #52503B;
    --ligth-bg: #FAF8F0;
    --text-color: #333333;
    --accsent-color: #E08631;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-green-bg);
    padding: 17px 120px;
    color: white;
}

.header__logo svg{
    fill: white;
}

.header__navigation-menu ul{
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.header__navigation-menu ul li:not(:last-child){
    margin-right: 12px;
}

.header__navigation-menu ul li a{
    color: white;
}

.button{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 18px;
    border-radius: 6px;
    border: none;
}

.header__button{
    background: white;
    color: var(--dark-green-bg);
}

.hero{
    background-image: url("./src/img/hero.jpeg");
    background-repeat: no-repeat;
    background-position: 0 -80px;
    text-align: center;
    color: white;
    padding: 160px 133px 90px 133px;
}

.hero__logo{
    margin-bottom: 37px;
}

.hero__title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 33px;
}

.hero__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 113px;
}

.about{
    background: var(--ligth-bg);
    padding: 140px 320px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);

}

.about__text-container{
    position: relative;
    display: flex;
    align-items: baseline;
}

.about__text-container:before{
    content: '';
    position: absolute;
    top:-32px;
    left: 48%;
    width: 42px;
    height: 8px;
    background: var(--accsent-color);
    transform: translateY(-48%);
}

.about__text-container div{
    width: 50%;
}

.about__text-container div:not(:last-of-type){
    margin-right: 40px;
}

.about__text-container div:last-of-type p{
    margin-bottom: 40px;
}

.about__button{
    color: white;
    background: var(--dark-green-bg);
}

