*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root {
    --dark-green-bg: #52503B;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-green-bg);
    padding: 17px 120px;
    color: white;
}

.header__logo svg{
    fill: white;
}

.header__navigation-menu ul{
    display: flex;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.header__navigation-menu ul li:not(:last-child){
    margin-right: 12px;
}

.header__navigation-menu ul li a{
    color: white;
}

.button{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 18px;
    border-radius: 6px;
    border: none;
}

.header__button{
    background: white;
    color: var(--dark-green-bg);
}

.hero{
    height: 720px;
    background-image: url("./src/img/hero.jpeg");
    background-repeat: no-repeat;
    background-position: 0 -80px;
    text-align: center;
    color: white;
    padding: 160px 133px 90px 133px;
}

.hero__logo{
    margin-bottom: 37px;
}

.hero__title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 33px;
}

.hero__text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 113px;
}